{% if site.google_analytics_key %}
<!-- 
  Original Google Analytics (UA) code is kept for reference but will be managed through GTM
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics_key }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
-->

<!-- Google Analytics tracking ID is available to GTM via dataLayer -->
<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    'ga_id': '{{ site.google_analytics_key }}',
    'ga_page_location': window.location.href,
    'ga_page_title': document.title
  });
</script>
{% endif %}